body {
  background-color: black;
}
h2 {
  font-family: 'Londrina Shadow', cursive;
  font-size: 75px;
  text-align: center;
  margin: 60px 0 0 0;
  color: #aaaaaa;
}
.rock {
	position: absolute;
	top: 179px;
	left: 149px;
	width: 240px;
	height:150px;
	-webkit-animation: bounceInDown 1s ease-in;
 	 animation: bounceInDown 1s ease-in;
}
.paper {
	position:absolute;
	top: 179px;
	left: 505px;
	width: 240px;
	-webkit-animation: bounceInDown 2s ease-in;
 	 animation: bounceInDown 1s ease-in;
}
.scissor {
	position:absolute;
	top: 179px;
	left: 852px;
	width: 210px;
	height: 125px;
	-webkit-animation: bounceInDown 3s ease-in;
 	 animation: bounceInDown 1s ease-in;
}
@-webkit-keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  100% {
    -webkit-transform: none;
    transform: none;
  }
}